@media screen and (max-width: 560px) {
  /// home page
  .pic {
    .main-header {
      .main-txt {
        font-size: rem(25px);
      }
    }
  }

  /// become a host
  .become-a-host {
    background-position: bottom center;
    height: 350px;

    h4 {
      font-size: rem(25px);
      padding-left: 55px;
    }
    p {
      font-size: rem(15px);
      padding-left: 55px;
    }
    button {
      margin-left: 55px;
    }
  }
  /// filter
  .main-filters {
    grid-template-columns: 203px 2fr 1fr auto;
    width: 90% !important;

    .city-filter {
      grid-column: 1;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      & .toggel-btn {
        border-right: 1px solid $clr7;
      }
    }
    .date-picker-cont {
      grid-column: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      cursor: pointer;
    }
    .guest-filter {
      & span {
        font-size: rem(14px);
      }
      grid-column: 3;
      align-items: center;
      display: block;
      & .toggel-btn {
        border-left: 1px solid $clr7;
        cursor: pointer;
      }
    }
  }
  .search-btn {
    grid-column: 4;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0px 15px;
    & .search {
      display: flex;
    }
  }
}
