header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  --logo: #f4f4f4;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  transition: background 300ms ease-in;
  background: var(--background);
  color: var(--text);

  .main-nav {
    display: flex;
    justify-content: space-between;

    .main-router-link {
      margin-right: 30px;
      text-decoration: none;
      color: var(--text);

      .logo {
        color: var(--logo);
        font-size: rem(25px);
      }
    }

    .main-router-link:hover,
    .main-router-link:active,
    .main-router-link:visited {
      text-decoration: none;
    }
  }
}
.nav-scrolled {
  --text: black;
  --text-inverse: #333;
  --background: white;
  --logo: #ff385c;

  color: var(--text);

  &.logo {
    color: var(--logo);
  }

  box-shadow: 0 3px 20px rgba($color: black, $alpha: 0.2);
}
.white-header {
  --background: white;
  --text: #222222;
  --logo: #ff385c;

  background: var(--background);
  color: var(--text);

  &.logo {
    color: var(--logo);
  }
}
