header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  --logo: #f4f4f4;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1rem;

  transition: background 300ms ease-in;
  background: var(--background);
  color: var(--text);

  .small-filter {
    position: fixed;
    left: 50%;
    top: 1rem;
    transform: translate(-50%);
    z-index: 999;
  }

  .nav-content {
    align-items: center;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(14px);
    .logo-cont {
      width: 0px;
    }

    .main-router-link {
      width: max-content;
      height: max-content;
      text-decoration: none;
      color: var(--text);
      &:not(:first-of-type) {
        margin: 0px 12.5px;
      }
      .logo {
        color: var(--logo);
        font-size: rem(25px);
        font-family: airbnb-medium, sans-serif;

        display: flex;
        align-items: center;

        & .svg-inline--fa {
          font-size: 2rem;
        }
        & span {
          margin-left: 5px;
        }
      }
    }

    .main-router-link:hover,
    .main-router-link:active,
    .main-router-link:visited {
      text-decoration: none;
    }
    .user-btn {
      height: 35px;
      background-color: #fff;
      border-radius: 30px;
      padding-left: 15px;
      gap: 10px;
      font-size: 1.5em;
      color: $clr4;
      .bars {
        font-size: 0.5em;
        color: $clr2;
      }
    }
    & .dropdown-content {
      right: 0;

      a {
        cursor: pointer;
      }
    }
  }
}
.nav-scrolled {
  --text: black;
  --text-inverse: #333;
  --background: white;
  --logo: #ff385c;

  color: var(--text);

  &.logo {
    color: var(--logo);
  }
}

.white-header {
  --background: white;
  --text: #222222;
  --logo: #ff385c;
  border-bottom: 1px solid $clr8;
  background: var(--background);
  color: var(--text);

  &.logo {
    color: var(--logo);
  }
}

.nav-content .dropdown-content {
  & a:first-of-type {
    font-weight: bold;
  }
  & a {
    font-size: 1rem;
    text-decoration: none;
    color: $clr2;
    padding: 15px;
  }
}
.nav-content {
  .dropdown {
    border: 1px solid $clr8;
    border-radius: 50px;
    .user-logo {
      margin-top: 1px;
      height: 27px;
      width: 27px;
      border-radius: 15px;
      background-color: #ddd;
      text-align: center;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
  .dropdown:hover {
    box-shadow: 0 3px 3px rgb(0 0 0 / 23%);
  }
}

@media screen and (max-width: 760px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .main-nav {
      .nav-content {
      }
      .main-router-link {
        width: max-content;
        height: max-content;
        text-decoration: none;
        height: 50px;
        color: var(--text);
        &:not(:first-of-type) {
          margin: 0px 12.5px;
        }
      }
      .nav-content {
        align-items: flex-start;
        .main-router-link {
          display: none;
        }
      }
    }
  }
}
