header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  --logo: #f4f4f4;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  // padding: 2rem 3rem;
  // margin-top: 2rem;
  transition: background 300ms ease-in;
  background: var(--background);
  color: var(--text);

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-cont {
      width: 0px;
      background-color: blue;
    }

    .main-router-link {
      width: max-content;
      height: max-content;
      text-decoration: none;
      color: var(--text);
      &:not(:first-of-type) {
        margin: 0px 12.5px;
      }
      .logo {
        // background-color: blue;
        // width: max-content;
        color: var(--logo);
        font-size: rem(25px);
        font-weight: bold;
        // align-self:baseline;
        // align-self: ;
        & .svg-inline--fa {
          font-size: 2rem;
        }
        & span {
          margin-left: 5px;
        }
      }
    }

    .main-router-link:hover,
    .main-router-link:active,
    .main-router-link:visited {
      text-decoration: none;
    }
    .user-btn {
      height: 35px;
      background-color: #fff;
      border-radius: 30px;
      padding-left: 15px;
      gap: 10px;
      font-size: 1.5em;
      color: $clr4;
      // border: 1px solid $clr7;
      .bars {
        font-size: 0.5em;
        color: $clr2;
      }
    }
  }
}
.nav-scrolled {
  --text: black;
  --text-inverse: #333;
  --background: white;
  --logo: #ff385c;

  color: var(--text);

  &.logo {
    color: var(--logo);
  }

  box-shadow: 0 3px 20px rgba($color: black, $alpha: 0.2);
}

.white-header {
  --background: white;
  --text: #222222;
  --logo: #ff385c;
  border-bottom: 1px solid $clr8;
  background: var(--background);
  color: var(--text);

  // background-color: blue;
  // margin-left: auto;
  // margin-right: auto;

  &.logo {
    color: var(--logo);
  }
  & .user-btn {
    border: 1px solid $clr7;
  }
}

.nav-content .dropdown-content {
  // right: 0;
  // margin-left: 30px;

  & a:first-of-type {
    font-weight: bold;
  }
  & a {
    font-size: 1rem;
    text-decoration: none;
    color: $clr2;
    padding: 15px;
  }
}
