.main-filters {
  background-color: cadetblue;
  max-width: 66.5vw;
  display: grid;
  grid-template-columns: 25.5% 34% 18.75% 8.1%;
  grid-auto-rows: auto;

  .date-picker {
    // grid-column: 2;
  }
}

.guestsFilter {
  //   display: none;
  background-color: bisque;
  max-width: 500px;
  & li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}
