.main-filters {
  display: none;
}
.main-filters.small-filter {
  margin-bottom: 10px;
  height: 45px;
  border: 1px solid $clr7;
  border-radius: 200px;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 5px 10px -9px #22222296;

  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  width: 90%;

  font-size: 0.9rem;
  & .search-btn {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 0px 15px;
    margin: 0px 10px;
    background-color: $clr1;
    border: 0;
    cursor: pointer;
    color: #fff;
  }
  & label {
    display: none;
  }
  & .guest-filter .toggel-btn {
    & span {
      font-size: rem(14px);
      color: $clr2;
    }

    padding-left: 10px;
    padding-right: 0px;
    color: $clr7;
  }
  & .city-filter .toggel-btn {
    font-weight: bold;
    color: $clr2;
    cursor: pointer;

    padding-right: 0px;
    padding-left: 20px;
  }
  & .double-picker-cont {
    cursor: pointer;
    & .el-date-editor {
      padding: 0px;
      width: 0px;
      &.el-input__icon {
        display: none;
      }

      & .el-input__inner {
        width: 80px;
      }
      & input:first-of-type {
        background-color: rgba(0, 0, 0, 0);
        width: 100px;
        margin-top: 2px;
        font-size: rem(14.4px);
        align-self: flex-start;
        color: $clr2;
      }
      & input:last-of-type {
        display: none;
      }
    }
  }
}

.el-picker-panel {
  .el-date-range-picker {
    width: 300px;
  }
  .el-picker-panel__body {
    // width: 30%;
    .el-date-range-picker__content {
      // width: 100%;
      left: 20px;
    }
  }
}

///Modal - City Filter
.city-filter {
  & span {
    margin-top: 1px;
    font-size: rem(14px);
  }
  select {
    border: 1px solid rgb(223, 223, 222);
    height: 40px;
  }
  .dropdown-list {
    position: absolute;

    display: flex;
    flex-direction: column;
    font-weight: bold;

    background-color: white;
    border: 1px solid rgb(223, 223, 222);
    border-radius: 25px;

    width: 200px;
    z-index: 9999;

    margin-top: 35px;
    padding: 5px 0px;
    left: 0%;

    max-width: 500px;
    & p {
      margin: 0px;
      font-size: rem(14px);
      padding: 10px 30px;
      color: $clr2;
    }
    & p:hover {
      background-color: $clr8;
    }
  }
}

/// Modal - Add Guests
.add-guests {
  & .toggel-btn {
    border-left: 1px solid $clr7;
  }
  position: absolute;

  display: flex;
  flex-direction: column;

  background-color: white;
  border: 1px solid rgb(223, 223, 222);
  border-radius: 25px;
  padding: 16px 32px;

  width: 300px;
  z-index: 9999;

  margin-top: 35px;
  right: 0%;

  font-size: 1rem;
  color: $clr2;

  max-width: 500px;

  & li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(199, 195, 195, 0.774);

    .selection h4 {
      margin-bottom: 16px;
    }
  }

  .add-btn {
    color: $clr7;
    border: 1px solid $clr7;
  }

  .reduce-btn {
    color: $clr8;
    border: 1px solid $clr8;

    &.added-guests {
      color: $clr7;
      border: 1px solid $clr7;
    }
  }

  .reduce-btn,
  .add-btn {
    background-color: #fff;
    margin: 0 5px;
    border-radius: 50%;

    &:hover:not(.not-allowed) {
      color: $clr2;
      border: 1px solid $clr2;
    }
  }
  .multi-choice {
    align-items: center;
    justify-content: center;
  }
  .selection,
  .multi-choice {
    h2,
    h3 {
      font-size: rem(16px);
    }
    h4 {
      font-size: rem(14px);
      color: $clr4;
    }
    .counter {
      text-align: center;
    }
  }
}

@media screen and (min-width: 1080px) {
  .main-filters.small-filter {
    width: 40%;
    .search-btn-container {
      .search-btn {
        width: 35px;
        height: 35px;
      }
    }
  }

  .el-picker-panel {
    .el-date-range-picker__content {
      width: 50%;
    }
  }

  .main-filters {
    --gap: 9px;
    font-size: rem(14px);

    position: relative;
    margin-bottom: 70px;
    display: grid;

    align-content: center;
    background-color: white;
    border-radius: 200px;
    max-width: 800px;
    height: 67px;

    font-size: 1rem;
    line-height: 1.3em;

    .city-filter {
      grid-column: 1;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      cursor: pointer;
      // min-width: 230px;
      & .toggel-btn {
        border-right: 1px solid $clr7;
      }
    }

    .date-picker-cont {
      grid-column: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      cursor: pointer;
    }

    .guest-filter {
      & span {
        font-size: rem(14px);
      }
      grid-column: 3;
      align-items: center;
      display: block;
      & .toggel-btn {
        border-left: 1px solid $clr7;
        cursor: pointer;
      }
    }
    .search-btn-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-column: 4;

      .search-btn {
        height: 45px;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        padding: 0px 15px;
        margin: 0px 10px;
        background-color: $clr1;
        border: 0;
        cursor: pointer;
        color: #fff;
      }
    }

    /// Label
    .city-filter,
    .guest-filter,
    .date-picker {
      label {
        font-family: airbnb-medium, sans-serif;
        font-size: rem(12px);
        font-weight: bold;
        letter-spacing: 0.04em;
        font-weight: bold;
        color: black;
      }
    }

    /// BTN + Input
    .guest-filter,
    .city-filter,
    .date-picker {
      .toggel-btn {
        display: flex;
        flex-direction: column;
        color: #717171;
        font-weight: 400;
        background-color: none;
        padding: 0px 1.5em;
      }
    }
    .city-filter .toggel-btn {
      padding: 0px 2.5em;
    }
  }

  /// Modal - City Filter
  .city-filter {
    .dropdown-list {
      cursor: pointer;
      width: 350px;
      & p {
        padding: 20px 30px;
      }
    }
  }

  /// Modal - City Filter
  .city-filter {
    .dropdown-list {
      cursor: pointer;
      width: 350px;
      & p {
        padding: 20px 30px;
        color: $clr2;
      }
    }
  }
}
