.main-filters {
  background-color: cadetblue;
  max-width: 66.5vw;
  display: grid;
  //   grid-template-columns: 25.5%, 17%, 17% 18.75%, 8.1%;
  grid-template-columns: 25.5px, 17px, 17px 18.7px;
  //   grid-auto-flow: dense;

  //     .date-picker {
  //     grid-column: 2 / 3;
  //   }
}

.guestsFilter {
  background-color: bisque;
  max-width: 500px;
  & li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}
