.footer-container {
  .list-title {
    font-size: rem(14px);
    font-family: airbnb-medium, sans-serif;
  }

  .footer-list {
    font-size: rem(14px);

    .footer-card {
      padding-bottom: 5px;
    }
  }
}
