.review-preview-container {
  color: $clr2;
  margin: 10px;
  .review-user-info {
    img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      object-fit: cover;
      margin-inline-end: 1rem;
    }
  }
  .review-user-data {
    font-size: rem(16px);
    color: $clr2;
  }
  .txt,
  h3 {
    font-size: rem(16px);
  }

  button {
    background-color: white;
    text-decoration-line: underline;
    font-size: rem(16px);
    padding: 0;
    font-family: airbnb-medium, sans-serif;
  }
}
