.review-preview-container {
  .review-user-info {
    img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      object-fit: cover;
      margin-inline-end: 1rem;
    }
  }
  .review-user-data {
    font-size: rem(16px);
    color: $clr4;
  }
}
