.el-slider__bar {
  background-color: $clr4;
  border: 1px solid $clr4;
}
.el-slider__button {
  width: 30px;
  height: 30px;
  border: 1px solid $clr4;
}
.el-slider__runway {
  background-color: $clr7;
}

.secondary-filters {
  padding: 0px;
  margin-top: rem(7px);

  & > * {
    margin-right: 10px;
  }
  & button:not(.close-btn) {
    background-color: rgba(128, 128, 128, 0);
    padding: 5px 15px;
    border: none;
    border-radius: 30em;
    outline: 1px solid $clr7;
    font-size: rem(14px);

    &.active {
      outline: 2px solid $clr2;
      &:hover {
        outline: 2px solid $clr2;
      }
    }
    &:hover {
      outline: 1px solid $clr2;
    }
  }
  .clear {
    margin-top: 10px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 15em;
  min-height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(223, 223, 222);
  border-radius: 15px;
  z-index: 9999;
  flex-direction: column;
  // padding: 15px;
  // padding: 20px 0px;
  margin-top: 10px;
  padding: 10px 0px;
  // font-size: rem(14px);
  font-size: 1em;
  & p {
    margin: 0px;
    font-size: rem(18px);
    font-weight: 400;
    padding: 20px 30px;
  }
  &:not(.price) p:hover {
    background-color: $clr8;
  }
  & div {
    display: flex;
    align-items: center;
    //remove the second line in price
    // margin-bottom: 10px;
  }

  &.price {
    justify-content: space-evenly;
    padding: 20px 25px;

    & :last-child {
      justify-content: space-between;
      align-items: center;

      & p {
        color: $clr4;
        font-size: 0.7em;
        width: 45%;
        border-radius: 10px;
        padding: 10px;
        line-height: 2em;
        border: 1px solid $clr7;
      }

      & span {
        // margin-top: 10px;
        color: $clr2;
        font-size: 1.4em;
      }
    }
  }
}

.dropdown-content.amenities {
  overflow-y: scroll;
  height: 300px;
  right: 0px;
  & button {
    margin: 10px;
    // position: absolute;
  }
  & p {
    pointer-events: none;
  }
  & div {
    padding-left: 20px;
    height: 3em;
  }
}

.show {
  display: block;
  display: flex;
}

.close-btn {
  background-color: #fff;
  border: 0px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: $clr2;
  margin: 10px;
  transition: background-color 0.05s ease;
  font-family: airbnb-bold;
  &:hover {
    background-color: $clr8;
  }
}

@media screen and (min-width: 1080px) {
  .secondary-filters {
    padding: 0px;
    margin-top: rem(37px);
  }

  .dropdown-content {
    &.price {
      justify-content: space-evenly;
      width: 450px;
      height: 250px;
    }
  }

  .dropdown-content.amenities {
    overflow-y: scroll;
    height: 300px;
    right: auto;
    & button {
      margin: 10px;
      // position: absolute;
    }
    & p {
      pointer-events: none;
    }
    & div {
      padding-left: 20px;
      height: 3em;
    }
  }
}
