.el-slider__bar {
  background-color: $clr1;
  border: 1px solid $clr1;
}
.el-slider__button {
  width: 30px;
  height: 30px;
  border: 1px solid $clr1;
}
.el-slider__runway {
  background-color: $clr7;
}

.secondary-filters {
  & > * {
    margin-right: 10px;
  }
  & button {
    background-color: rgba(128, 128, 128, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 30em;
    outline: 1px solid $clr7;
    font-family: manrope-light;
    font-size: 1em;

    &.active {
      outline: 2px solid $clr2;
      &:hover {
        outline: 2px solid $clr2;
      }
    }

    &:hover {
      outline: 1px solid $clr2;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 15em;
  min-height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(223, 223, 222);
  border-radius: 15px;
  z-index: 9999;
  flex-direction: column;
  padding: 15px;
  margin-top: 10px;
  // font-size: rem(14px);
  font-size: 1em;
  & p {
    margin: 0px;
  }
  & div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    & label {
      margin-left: 10px;
    }
  }

  &.price {
    justify-content: space-evenly;
    width: 30em;
    padding-right: 32px;
    padding-left: 32px;

    & :last-child {
      justify-content: space-between;
      align-items: center;

      & p {
        color: $clr4;
        font-size: 0.8em;
        width: 45%;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid $clr7;
      }
      & span {
        color: $clr2;
        font-size: 1.4em;
      }
    }
  }
}

.dropdown-content.amenities {
  overflow-y: scroll;
  height: 300px;
  & button {
    margin-bottom: 10px;
    // position: absolute;
  }
}

.show {
  display: block;
  display: flex;
}
