.stay-preview {
  .block {
    .el-carousel__button {
      height: 8px;
      width: 7px;
      border-radius: 50%;
      z-index: 5;
    }
  }

  p {
    size: rem(40px);
    color: $clr4;
    line-height: 0.5rem;
    span {
      color: black;
    }
  }

  .stay-type {
    font-size: rem(14px);
  }
}
