.stay-checkout {
  bottom: 20px;
  align-items: end;
  justify-content: flex-end;

  .order-price-container {
    color: $clr2;
    font-family: manrope-bold;
    .price {
      font-size: rem(22px);
      color: $clr2;

      span {
        font-family: manrope;
        font-size: rem(16px);
      }
    }
  }
  .check-rating-container {
    .svg-inline--fa {
      color: $clr1;
      margin-right: 5px;
      font-size: rem(14px);
    }
    p {
      font-size: rem(14px);
      font-family: manrope-bold;
      margin-right: 5px;
      color: $clr2;
    }
    span {
      font-size: rem(14px);
      color: $clr4;
      text-decoration-line: underline;
    }
  }

  .checkout-container {
    width: 80%;
    justify-content: flex-end;
    border: 1px solid rgba(0, 0, 0, 0.18823529411764706);
    border-radius: 13px;
    box-shadow: 0 6px 16px -2px #d8d8d8;

    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

    .checkout-form-container {
      width: 100%;
      padding: 0 25px 15px;

      .form-container {
        position: relative;

        .select-form {
          border: 0.5px solid rgba(0, 0, 0, 0.3137254901960784);
          border-radius: 13px;
          overflow: hidden;
          margin-block-end: 15px;

          .select-dates-container {
            height: 58px;

            .label {
              display: flex;
              justify-content: space-around;
              font-size: rem(14px);
              margin-top: 5px;
            }
            .el-date-editor {
              display: flex;
              justify-content: space-around;
              .el-range-input {
                color: $clr2;
                display: flex;
                justify-content: space-between;
              }
            }
            .el-input__inner {
              border: none;
            }
            .el-input__icon {
              display: none;
            }
          }
          .select-guests-container {
            border-top: 0.5px solid rgba(0, 0, 0, 0.3137254901960784);
            height: 56px;
          }
        }
      }
      .btn-checkout-container {
        .btn-checkout {
          position: relative;
          appearance: none;
          background: #f72359;
          padding: 1em 2em;
          border: none;
          color: white;
          font-size: 1.2em;
          cursor: pointer;
          outline: none;
          overflow: hidden;
          border-radius: 20px;

          span {
            position: relative;
          }
          &::before {
            // --size: 0;
            --size: 400px;
            content: '';
            position: absolute;
            left: var(--x);
            top: var(--y);
            width: var(--size);
            height: var(--size);
            background: radial-gradient(circle closest-side, #454ed4, transparent);
            transform: translate(-50%, -50%);
            transition: width 0.2s ease, height 0.2s ease;
          }

          &:hover::before {
            --size: 400px;
          }
        }
      }

      //   .btn-checkout {
      //     width: 100%;
      //     font-size: rem(16px);

      //     padding: 1em 2.5em;
      //     background-color: royalblue;
      //     color: white;
      //     border-radius: 15px;

      //     background-image: linear-gradient(to right, #9c1ee6, #f52060, #c752cf, #f52060);

      //     background-size: 300%;
      //     background-position: -100%;
      //   }
      // }
      // .btn-checkout:hover,
      // .btn-checkout:focus {
      //   animation: animatedBackground 3s infinite alternate-reverse;
      // }
      // @keyframes animatedBackground {
      //   from {
      //     background-position: 0%;
      //   }
      //   to {
      //     background-position: 100%;
      //   }
      // }
    }
  }

  // .swal2-actions {
  //   background-color: black;
  //   button {
  //     background-color: black;
  //   }
  //   .swal2-confirm,
  //   .swal2-styled {
  //     background-color: black;
  //   }
  // }
}
