.user-table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  border-radius: 55px;

  thead {
    tr {
      border: 1px solid #ddd;
      padding: 0.35em;

      & th:first-of-type {
        visibility: hidden;
      }
    }
    th {
      font-size: rem(16px);
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
  tbody {
    tr {
      border: 1px solid $clr8;
      th,
      td {
        padding: 0.625em;
        font-size: rem(16px);
        text-align: center;
        & img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid $clr8;
          align-self: center;
        }
        & button {
          border-radius: 5px;
          height: 25px;
          background-color: $clr7;
          width: 70px;
          height: 30px;
        }
      }
    }
  }
}

.order-approved {
  background-color: rgba(176, 251, 176, 0.19);
  // background-color: #5ed9c236;
}
.order-pending {
  // background-color: rgb(249, 165, 101, 0.19);
}

@media screen and (max-width: 600px) {
  .user-table {
    border: 0;

    caption {
      font-size: 1.3em;
    }

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      tr {
      }
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    tbody {
      padding-right: 40px;
      padding: 0;

      td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: rem(14px);
        text-align: right;
        display: flex;
        justify-content: space-between;
      }
      td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      td:last-child {
        border-bottom: 0;
      }
    }
  }
}
