.stay-details.edit {
  & input[type='text' i] {
    border: none;
    width: auto;
    padding: 5px;
    border-bottom: 1px solid $clr7;
    &.stay-name {
      font-size: 1.5em;
      font-weight: bolder;
    }
  }
}
textarea {
  font-family: airbnb-light, sans-serif;
  font-size: 1rem;
}
