.stay-details.edit {
  & input[type='text' i] {
    border: none;
    width: auto;
    padding: 5px;
    border-bottom: 1px solid $clr7;

    &.stay-name {
      font-size: 1.5em;
      font-weight: bolder;
    }
  }
}

textarea {
  font-family: airbnb-light, sans-serif;
  font-size: 1rem;
  border-radius: 10px;
}

.stay-details-right-container {
  justify-self: center;
  .save-stay {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    font-size: rem(16px);

    padding: 1em 2.5em;
    position: relative;
    appearance: none;
    background: #f72359;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 10px;

    span {
      position: relative;
    }
    &::before {
      --size: 0;

      content: '';
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, #fa50e6, transparent);
      transform: translate(-50%, -50%);
      transition: width 0.2s ease, height 0.2s ease;
    }

    &:hover::before {
      --size: 400px;
    }
  }
}
