.pic {
  left: 0;
  background-image: url(https://res.cloudinary.com/disku3v4j/image/upload/v1638473513/ezra-jeffrey-comeau-r4M6ZlaDLLU-unsplash_hki13q.jpg);

  height: 100vh;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 1px 20px 0 #5a5a5a;

  .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;

    .main-txt {
      font-family: airbnb-medium, sans-serif;
      font-size: rem(38px);
      color: white;
      text-align: center;
      text-shadow: -1px -1px 0 $clr8, 1px -1px 0 $clr8, -1px 1px 0 $clr8,
        1px 1px 0 $clr8;
    }
  }
}
.become-a-host {
  background-image: url(https://res.cloudinary.com/disku3v4j/image/upload/v1638864600/2595054e-d1d9-4fde-8046-58d51fcb3164_nzzw2b.webp);
  // position: relative;
  width: 100%;
  height: 380px;
  border-radius: 25px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin-bottom: 50px;

  display: flex;
  // align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h4 {
    color: white;
    font-size: rem(48px);
    padding-left: 40px;
    font-family: airbnb-medium, sans-serif;
  }
  p {
    color: white;
    font-size: rem(18px);
    width: 60%;
    padding-left: 40px;
  }
  button {
    font-size: rem(15px);
    padding: 13px 25px;
    border: none;
    border-radius: 8px;
    width: 150px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1080px) {
  .become-a-host {
    height: 480px;

    margin-bottom: 50px;

    h4 {
      padding-left: 83px;
      font-family: airbnb-medium, sans-serif;
    }
    p {
      width: 46%;
      padding-left: 83px;
    }
    button {
      margin-left: 83px;
    }
  }
}
