.stay-details {
  // margin-top: 150px;
  //anna
  margin-top: 110px;
  color: $clr2;

  h2 {
    color: $clr2;
    font-size: rem(26px);
    font-family: airbnb-medium, sans-serif;
  }
  .avg-rating {
    font-family: airbnb, sans-serif;

    span {
      margin: 5px;
    }
  }
  .review-details {
    font-size: rem(14px);
    color: $clr2;

    .svg-inline--fa {
      color: $clr1;
      margin-right: 5px;
    }

    .rate {
      font-family: airbnb-medium, sans-serif;
    }
  }

  .details-main-container {
    --num-col: 3;
    --row-height: 100%;
    margin-top: 45px;

    // padding: var(--gap);

    position: relative;

    align-items: baseline;

    display: grid;
    grid-template-columns: repeat(var(--num-col), 1fr);
    grid-auto-rows: var(--row-height);

    font-size: rem(18px);

    .stay-details-left-container {
      grid-column: 1/3;
      grid-row: span 1/2;

      .info-header {
        h2 {
          font-size: rem(22px);
          line-height: rem(20px);
        }
        p {
          font-size: rem(16px);
          color: $clr2;
          font-family: airbnb-light, sans-serif;

          span {
            margin: 5px;
          }
        }
        img {
          width: 65px;
          height: 65px;
          border-radius: 30px;
          object-fit: cover;
          border: 1px solid $clr8;
          align-self: baseline;
        }
      }
      .assets-container {
        .assets-content {
          display: flex;
          justify-content: start;
          align-items: center;
          margin-block-end: 1rem;
          margin-top: 20px;

          &:last-child {
            .asset-details {
              margin-left: 10px;
            }
          }

          .icon {
            align-self: baseline;
          }

          .svg-inline--fa {
            font-size: rem(20px);
            margin-inline-end: 1rem;
          }
          p {
            color: $clr4;
            font-size: rem(14px);
            line-height: 2.8em;
          }
        }

        .asset-details {
          h4 {
            margin: 0;
            font-size: rem(16px);
            font-family: airbnb-medium, sans-serif;
          }
          p {
            margin: 0;
          }
        }
      }
      .stay-details-amenities {
        h2 {
          margin: 20px 0 20px 0;
          font-size: rem(22px);
        }
        .amenities-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 16px;
          font-size: rem(18px);

          .font-amenity-icon {
            min-width: 24px;
            margin-inline-end: 20px;
          }

          .svg-inline--fa {
            font-size: rem(18px);
            margin-inline-end: 1rem;
          }
        }
      }
    }

    .stay-details-right-container {
      grid-column: 3/4;
      grid-row: span 1;
      position: sticky;
      top: 120px;
      //anna
      align-self: flex-start;
    }
  }

  .map-section {
    h2 {
      margin-top: 20px;
      font-size: rem;
    }
  }

  .reviews {
    font-family: airbnb-light, sans-serif;
    margin: 5px;
    color: $clr2;

    .review-user-info {
      text-decoration-line: none;
    }
    .txt {
      line-height: 1.5em;
      color: $clr2;
    }
  }

  .details-location {
    margin: 5px;
    color: $clr4;
    text-decoration-line: underline;
  }

  .stay-details-left-container {
    min-height: 100%;
    margin-bottom: 30px;

    .stay-details-amenities {
      .amenities-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .font-amenity-icon {
          min-width: 24px;
          margin-inline-end: 20px;
        }
      }
    }
  }
}

.images-display-container {
  --gap: 8px;
  --num-col: 4;

  box-sizing: border-box;
  display: grid;

  grid-template-columns: repeat(var(--num-col), minmax(250px, 1fr));
  padding: 15px 0 30px;
  grid-template-rows: 250px 250px;

  gap: var(--gap);

  @media (max-width: 1024px) {
    --num-col: 2;
    --row-height: 200px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  label:first-child {
    grid-column: span 2;
    grid-row: span 2;
    img {
      border-top-left-radius: 13px;
      border-bottom-left-radius: 13px;
    }
  }

  label:nth-child(3) {
    img {
      border-top-right-radius: 13px;
    }
  }

  label:nth-child(5) {
    img {
      border-bottom-right-radius: 13px;
    }
  }
}
.review-preview-container {
  .review-user-info {
    .review-user {
      .name {
        color: $clr2;
      }
      .data {
        color: $clr4;
        font-size: rem(14px);
      }
    }
  }
}

.reviews-section-container {
  border-top: 1px solid #b0b0b0;
  @media (max-width: $narrow-breakpoint) {
    margin-block-start: 90px;
  }
}

@media screen and (max-width: 760px) {
  .images-display-container {
    --gap: 5px;
    --num-col: 1;

    box-sizing: border-box;
    display: grid;

    grid-template-columns: repeat(var(--num-col), minmax(30px));
    padding: 15px 0 30px;
    grid-template-rows: 100px 50px;

    gap: var(--gap);
  }

  label:first-child {
    grid-column: span 2;
    grid-row: span 2;
    img {
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;
      border-bottom-left-radius: 0px !important;
    }
  }

  label:nth-child(2) {
    img {
      border-bottom-left-radius: 13px;
    }
  }

  label:nth-child(3) {
    img {
      border-bottom-right-radius: 13px;
      border-top-right-radius: 0px !important;
    }
  }
  label:nth-child(4) {
    img {
      display: none;
    }
  }

  label:nth-child(5) {
    img {
      display: none;
    }
  }
  .details-main-container {
    --num-row: 3;

    // --row-height: 100%;
    // margin-top: 45px;

    grid-template-rows: repeat(var(--num-row), 1fr);

    // grid-auto-rows: var(--row-height);

    .stay-details-left-container {
      grid-column: span 1;
      grid-row: 1/2;

      .info-header {
        h2 {
          font-size: rem(22px);
          line-height: rem(20px);
        }
        p {
          font-size: rem(16px);
          color: $clr2;
          font-family: airbnb-light, sans-serif;

          span {
            margin: 5px;
          }
        }
        img {
          width: 55px;
          height: 55px;
          border-radius: 30px;
          object-fit: cover;
          border: 1px solid $clr8;
        }
      }
      .assets-container {
        .assets-content {
          display: flex;
          justify-content: start;
          align-items: center;
          margin-block-end: 1rem;
          margin-top: 20px;

          &:last-child {
            .asset-details {
              margin-left: 10px;
            }
          }

          .icon {
            align-self: baseline;
          }

          .svg-inline--fa {
            font-size: rem(20px);
            margin-inline-end: 1rem;
          }
          p {
            color: $clr4;
            font-size: rem(14px);
            line-height: 2.8em;
          }
        }

        .asset-details {
          h4 {
            margin: 0;
            font-size: rem(16px);
            font-family: airbnb-medium, sans-serif;
          }
          p {
            margin: 0;
          }
        }
      }
      .stay-details-amenities {
        h2 {
          margin: 20px 0 20px 0;
          font-size: rem(22px);
        }
        .amenities-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 16px;
          font-size: rem(18px);

          .font-amenity-icon {
            min-width: 24px;
            margin-inline-end: 20px;
          }

          .svg-inline--fa {
            font-size: rem(18px);
            margin-inline-end: 1rem;
          }
        }
      }
    }
    .stay-details-right-container {
      // grid-column: 3/4;
      grid-column: span 1;
      grid-row: 2/3;
      // top: 120px;

      align-self: flex-start;
    }
  }
}
