.stay-details {
  .stay-details-left-container {
    width: 60%;
    min-height: 850px;
    max-height: 1000px;
    padding: 20px 0 0;

    .stay-details-amenities {
      .amenities-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .font-amenity-icon {
          min-width: 24px;
          margin-inline-end: 20px;
        }
      }
    }
  }
  .stay-details-right-container {
    width: 40%;
    min-height: 850px;
    max-height: 1000px;
    padding: 0;
  }
}

.info-header {
  margin-block-end: 1rem;
  img {
    width: 55px;
    height: 55px;
    border-radius: 30px;
    object-fit: cover;
  }
}

.assets-container {
  .assets-content {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-block-end: 1rem;
  }
  .icon {
    margin-inline-end: 1rem;
    min-width: 24px;
  }
  .asset-details {
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}
// .images-display-container {
//   margin-top: 10px;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-template-rows: 165px 165px;
//   gap: 8px;
//   margin-bottom: 20px;

//   .imgs-content {
//     > *:first-child {
//       grid-column: 1 / span 2;
//       grid-row: 1 / span 2;
//       border-top-left-radius: 10px;
//       border-bottom-left-radius: 10px;
//     }
//   }
// }
.images-display-container {
  // margin-block-end: 1rem;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  // grid-gap: 16px;
  // grid-auto-flow: dense;

  // grid-auto-rows: 300px;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 220px);
  grid-template-rows: repeat(2, 250px);
  gap: 10px;

  > * {
    @include aspect-ratio(1, 1);
  }

  > *:first-child {
    // grid-row: span 2;
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
  }
  //   > *:nth-child(2n) {
  //     grid-row: span 2;
  //   }

  //   > *:nth-child(4n) {
  //     grid-column: span 2;
  //   }
}
// .images {
//   display: flex;
//   margin-top: 20px;
//   margin-bottom: 50px;
//   height: 510px;
//   gap: 5px;
// }
//   & > img {
//     width: calc(50% - 3.5px);
//     border-radius: 15px 0 0 15px;
//     margin-right: 5px;
//     object-fit: cover;
//   }
// }
