.trips-page {
  margin-top: 150px;
  min-height: 100vh;
  top: 0;
  & h1 {
    height: 50px;
    margin: none;
    font-family: airbnb-medium, sans-serif;
  }
  & ul {
    gap: 25px;
    border-bottom: 1px solid $clr8;
    margin-bottom: 40px;
    & li {
      color: $clr4;
      font-weight: bold;
      padding-bottom: 20px;
    }
    & li.active {
      color: $clr2;
      border-bottom: 2px solid $clr2;
    }
  }
  & .trip-list-container {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    // grid-template-columns: repeat(auto-fill, 1fr);
    // grid-auto-rows: minmax(70px, 130px);
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    // row-gap: 10px;
    // gap: 20px;
  }
}
.trip-preview-container {
  //   width: 35%;
  & .trip-preview {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-auto-rows: minmax(66px, 133px);
    gap: 5px;
    // margin-right: 20px;
    & :first-child {
      grid-column: span 2;
      grid-row: span 2;
    }
    & .preview-left {
      grid-column: span 2;
    }
    & .preview-right {
      text-align: right;
      & .btn {
        cursor: pointer;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
