@font-face {
  font-family: manrope;
  src: url(~@/assets/fonts/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: manrope-bold;
  src: url(~@/assets/fonts/Manrope-Bold.ttf);
}
@font-face {
  font-family: manrope-light;
  src: url(~@/assets/fonts/Manrope-Light.ttf);
}
