// Colors
$clr1: #ff385c;
$clr2: rgb(34, 34, 34);
$clr3: #574f7d;
$clr4: #717171;
$clr5: #b1b3b2;
$clr6: #fff;
$clr7: #b9b7b7;
$clr8: #b9b7b750;

// LAYOUT BREAKPOINTS

$layout-padding: 20;

$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1670px;
