// Setup
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/base';
@import 'basics/links';
@import 'basics/forms';

// Components
@import 'cmps/app-header';
@import 'cmps/review-list';
@import 'cmps/stay-preview';
@import 'cmps/stay-list';
@import url('//unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css');
// @import 'cmps/guests-filter';
@import 'cmps/filters';

// Views
@import 'views/home-page';
@import 'views/stay-details';
@import 'views/stay-app';
@import 'views/app';

.el-slider__bar {
  background-color: rgba(170, 143, 148, 0);
  border: 1px solid crimson;

  //   height: 4px;
}
.el-slider__button {
  width: 30px;
  height: 30px;
  //   background-color: crimson;
  //   color: crimson;
  border: 1px solid crimson;
}
.el-slider__runway {
  background-color: rgba(39, 61, 189, 0.253);
}

.side-filters button {
  // padding-left: 10px;
  // padding-right: 10px;
  // width: 90px;
  padding: 5px 12px;
  border-radius: 30em;
  border: 1px solid grey;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}
